name: Lint

on:
  push:
    paths-ignore:
      - "**/*.md"
      - "LICENSE*"
      - ".github/**/*.md"
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "LICENSE*"
      - ".github/**/*.md"

permissions:
  contents: read

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.0
          args: --timeout=10m --config=.golangci.yml ./...

